body{
    background-color: #f6f6f6;
}
.internship-card{
    height: 700px;
    position: relative;
    display: inline-block;
    margin-right: 3.5px;
}
img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.internship-card:hover .info{
    display: block;
}
.info{
    display:none;
    position: absolute;
    top:50%;
    font-size: xx-large;
    background-color: white;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
.bold-text{
    font-weight: bold;
    color: red;
}