@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

#bg {
    animation-name: bubble;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bubble {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}
